html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-image: url(../assets/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	font-family: "Microsoft YaHei";
}

header,
footer .band {
	background-color: #a40905;
	height: 35px;
	width: 100%;
}

header {
	top: 0;
	position: absolute;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.w1000 {
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}

header .w1000 {
	position: relative;
}

header .logo {
	width: 72px;
	height: 100%;
	background-image: url(../assets/logo-people.png);
	background-repeat: no-repeat;
	background-position: center center;
}

header .share {
	/*width: 600px;*/
	height: 100%;
	/*background-color: white;*/
	position: absolute;
	right: 0;
	top: 0;
}

.copyright {
	color: white;
	text-align: center;
	font-size: 12px;
	line-height: 180%;
	margin-bottom: 20px;
}

/*page setup*/
.page {
	width: 1000px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -300px;
	background-position: center center;
	background-repeat: no-repeat;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	opacity: .9;
}

.fade-transition {
	transition: all .3s ease;
	opacity: 1;
}

.fade-enter, .fade-leave {
	opacity: 0;
}